/********** FONTS **********/

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneue.eot"), /* IE9 Compat Modes */
       url("../fonts/helveticaneue.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/helveticaneue.woff") format("woff"), /* Pretty Modern Browsers */
       url("../fonts/helveticaneue.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot"), /* IE9 Compat Modes */
       url("../fonts/Lato-Regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/Lato-Regular.woff") format("woff"), /* Pretty Modern Browsers */
       url("../fonts/Lato-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}


/********** BOOTSTRAP FIVE COLUMN LALYOUT**********/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/********** SHARED **********/

.centered {
    text-align: center;
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

/********** MAIN **********/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5a5a5a;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #666;
    margin-top: 10px;
}

.headerwrap {
  background: url("../img/GoldenGateBridge.png") no-repeat center top;
  margin-top: -30px;
  padding-top: 350px;
}

.frontend-projects-intro {
  padding-top: 4em;
  padding-bottom: 4em;
}

.frontend-projects {
  border: solid 1px #F2F2F2;
  margin-bottom: 6em;
}

.project-overlay {
  display: none;
  background-color: #1360BF;
  color: #FFF;
  position: absolute;
  opacity: 0.85;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.project {
  position: relative;
}

.project img {
  margin: 0 auto;
}

.project .title {
  position: absolute;
  width: 100%;
  margin-top: -30px;
  font-size: 1.2em;
}

.project-overlay i {
  border-radius: 0.2em;
  border: solid 2px;
  padding: 0.8em 1.6em;
}

.icons {
  position: absolute;
  width: 100%;
  top: 205px;
}

.social {
  padding-top: 3.3em;
  padding-bottom: 3.3em;
  background-color: #f2f2f2;
}

.social i {
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 3.5em;
  color: #4a4a4a;
}

.footerwrap {
  line-height: 10em;
  background-color: #2f2f2f;
  color: #f2f2f2;
  font-size: 1.3em;
  font-weight: bold;
}

.myname {
  font-size: 1.5em;
}
