.headerwrap {
  background: url(../img/GoldenGateBridge.png) no-repeat center top;
  margin-top: -30px;
  padding-top: 350px;
}

.social {
  padding-top: 3.3em;
  padding-bottom: 3.3em;
  background-color: #f2f2f2;
}

.social i {
  font-size: 3.5em;
  color: #4a4a4a;
}

.footerwrap {
  line-height: 10em;
  background-color: #2f2f2f;
  color: #f2f2f2;
  font-size: 1.3em;
  font-weight: bold;
}

.myname {
  font-size: 1.5em;
}